base_domain: hackinglab.beer

slack_channel: <channel>
slack_token: <token>


wazuh_domain: 'wazuh.{{ base_domain }}'
wazuh_agent_protocol: udp

wazuh_api_user: wazuhadmin
wazuh_api_pass: <API password>
wazuh_api_port: 55000
wazuh_api_domain: wazuh.{{ base_domain }}

doorman_port: 443
doorman_domain: doorman.{{ base_domain }}
doorman_secret_key: <secret key>